@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Karla", sans-serif;;
}
:root{
--cyan:hsl(179, 62%, 43%);
--white:hsl(204, 43%, 93%);
--lightgreen:hsl(71, 73%, 54%);
--lightblue:hsl(218, 22%, 67%);
}
main{
    width: 75%;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    margin: 0 auto;
}
.intro{
    padding: 3rem;
}

.intro h3{
    color:var(--cyan);
    margin-bottom: 1.5rem;
}
.intro h4{
    color:var(--lightgreen) ;
    margin-bottom: 1rem;
    
}
.intro p{
    color:var(--lightblue) ;
    line-height: 1.5rem;
}
.content{
    
    display: flex;
    flex-grow: 1;
    justify-content: space-between;

}

.payment{
    flex-basis: calc(50% - 1.5rem);
    padding:2rem 3rem;
    background-color:var(--cyan) ;
    color:var(--white);
   
}
.payment h4{
    margin-bottom: 1rem;
}
.payment p{
    color:#ddddd1;
    margin-bottom: 1rem;
    
}
.payment small{
    display: block;
    margin-bottom: 1rem;
}
.payment p span{
    all:unset;
    font-size: 2rem;
    color: var(--white);
}
.payment button{
    background-color:var(--lightgreen) ;
    color: #ffffff;
    border:1px solid var(--lightgreen);
    padding:0.5rem 1rem ;
    width: 100%;
    border-radius: .5rem;
}

.whyus{
    flex-basis: calc(50% - 1.5rem);
    padding:2rem 3rem;
    background-color:var(--cyan) ;
    opacity: 0.8;
    color:var(--white);
    flex-grow: 1;   
    
}
.whyus h3{
    margin-bottom: 1rem;
}
.whyus small{
    width: 50px;
}

@media screen and (max-width:760px){
    .intro{
        padding: 1.5rem;
    }
    .payment{
        
        padding:2rem 1.5rem;
      
    }
    .whyus{
        padding:2rem 1.5rem;
    }
    .content{
    
        display: flex;
       
        flex-direction:column;
    
    }
}